.table {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.on-time {
  color: green;
  font-weight: bold;
}

.delayed {
  color: orange;
  font-weight: bold;
}

.cancelled {
  color: red;
  font-weight: bold;
}
